# In this work, the expression $[4,1,1]$ is the same as $4+1+1$, which denotes the partition of $6$.

# PROBLEM 1

## Classify the $135$ partitions of $14$ into their corresponding rank modulo $5$.

In [182]:
import numpy as np
import pandas as pd
from pandas import DataFrame


# Create a function which gives us all of partitions of a positive integer n.
def generate_partitions(n):
    def partition_gen(n, i):
        if n == 0:
            yield []
        for x in range(min(i, n), 0, -1):
            for partition in partition_gen(n - x, x):
                yield [x] + partition

    return list(partition_gen(n, n))


# Create a function which counts the ranks of each partition of a positive integer n.
def rank_of_partition(partition):
    largest_part = max(partition)
    num_parts = len(partition)
    return largest_part - num_parts


# Create a function which gives us a table that all we wish.
def rankmod5(n):
    partitions = generate_partitions(n)
    rank = []
    rankmod5 = []
    for k in partitions:
        rank.append(rank_of_partition(k))
        rankmod5.append(rank_of_partition(k) % 5)
    data = {'\lambda \ vdash 14': partitions, 'r(\lambda)': rank, 'r(\lambda) mod 5': rankmod5}
    df = pd.DataFrame(data)
    df.index = np.arange(1, len(df) + 1)
    return(df)

rankmod5(14)

                             \lambda \ vdash 14  r(\lambda)  r(\lambda) mod 5
1                                          [14]          13                 3
2                                       [13, 1]          11                 1
3                                       [12, 2]          10                 0
4                                    [12, 1, 1]           9                 4
5                                       [11, 3]           9                 4
..                                          ...         ...               ...
131              [2, 2, 2, 2, 1, 1, 1, 1, 1, 1]          -8                 2
132           [2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1]          -9                 1
133        [2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]         -10                 0
134     [2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]         -11                 4
135  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]         -13                 2

[135 rows x 3 columns]

# PROBLEM 2

## Compute the crank for each partitions of $4, 5,$ and $9$.

## All partitions of $4$ and their corresponding cranks.

In [183]:
def generate_partitions(n):
    def partition_gen(n, i):
        if n == 0:
            yield []
        for x in range(min(i, n), 0, -1):
            for partition in partition_gen(n - x, x):
                yield [x] + partition

    return list(partition_gen(n, n))



def largest_part(partition):
    return max(partition)

def number_of_ones(partition):
    return partition.count(1)

def mu_lambda(partition):
    return sum(1 for part in partition if part > partition.count(1))



def crank_of_partition(partition):
    if number_of_ones(partition) == 0:
        return largest_part(partition)
    else:
        return mu_lambda(partition) - number_of_ones(partition)

def crank(n):
    partitions = generate_partitions(n)
    largest = []
    num_ones = []
    mu = []
    crank = []
    for k in partitions:
        largest.append(largest_part(k))
        num_ones.append(number_of_ones(k))
        mu.append(mu_lambda(k))
        crank.append(crank_of_partition(k))
    data = {'\lambda \ vdash 4': partitions, 'l(\lambda)': largest, '\omega(\lambda)': num_ones, 
            '\mu(\lambda)': mu, 'c(\lambda)': crank}
    df = pd.DataFrame(data)
    df.index = np.arange(1, len(df) + 1)
    return(df)

crank(4)

  \lambda \ vdash 4  l(\lambda)  \omega(\lambda)  \mu(\lambda)  c(\lambda)
1               [4]           4                0             1           4
2            [3, 1]           3                1             1           0
3            [2, 2]           2                0             2           2
4         [2, 1, 1]           2                2             0          -2
5      [1, 1, 1, 1]           1                4             0          -4

## All partitions of $5$ and their corresponding cranks:

In [184]:
def generate_partitions(n):
    def partition_gen(n, i):
        if n == 0:
            yield []
        for x in range(min(i, n), 0, -1):
            for partition in partition_gen(n - x, x):
                yield [x] + partition

    return list(partition_gen(n, n))



def largest_part(partition):
    return max(partition)

def number_of_ones(partition):
    return partition.count(1)

def mu_lambda(partition):
    return sum(1 for part in partition if part > partition.count(1))



def crank_of_partition(partition):
    if number_of_ones(partition) == 0:
        return largest_part(partition)
    else:
        return mu_lambda(partition) - number_of_ones(partition)

def crank(n):
    partitions = generate_partitions(n)
    largest = []
    num_ones = []
    mu = []
    crank = []
    for k in partitions:
        largest.append(largest_part(k))
        num_ones.append(number_of_ones(k))
        mu.append(mu_lambda(k))
        crank.append(crank_of_partition(k))
    data = {'\lambda \ vdash 4': partitions, 'l(\lambda)': largest, '\omega(\lambda)': num_ones, 
            '\mu(\lambda)': mu, 'c(\lambda)': crank}
    df = pd.DataFrame(data)
    df.index = np.arange(1, len(df) + 1)
    return(df)

crank(5)

  \lambda \ vdash 4  l(\lambda)  \omega(\lambda)  \mu(\lambda)  c(\lambda)
1               [5]           5                0             1           5
2            [4, 1]           4                1             1           0
3            [3, 2]           3                0             2           3
4         [3, 1, 1]           3                2             1          -1
5         [2, 2, 1]           2                1             2           1
6      [2, 1, 1, 1]           2                3             0          -3
7   [1, 1, 1, 1, 1]           1                5             0          -5

## All partitions of $9$ and their corresponding cranks.

In [185]:
def generate_partitions(n):
    def partition_gen(n, i):
        if n == 0:
            yield []
        for x in range(min(i, n), 0, -1):
            for partition in partition_gen(n - x, x):
                yield [x] + partition

    return list(partition_gen(n, n))



def largest_part(partition):
    return max(partition)

def number_of_ones(partition):
    return partition.count(1)

def mu_lambda(partition):
    return sum(1 for part in partition if part > partition.count(1))



def crank_of_partition(partition):
    if number_of_ones(partition) == 0:
        return largest_part(partition)
    else:
        return mu_lambda(partition) - number_of_ones(partition)

def crank(n):
    partitions = generate_partitions(n)
    largest = []
    num_ones = []
    mu = []
    crank = []
    for k in partitions:
        largest.append(largest_part(k))
        num_ones.append(number_of_ones(k))
        mu.append(mu_lambda(k))
        crank.append(crank_of_partition(k))
    data = {'\lambda \ vdash 4': partitions, 'l(\lambda)': largest, '\omega(\lambda)': num_ones, 
            '\mu(\lambda)': mu, 'c(\lambda)': crank}
    df = pd.DataFrame(data)
    df.index = np.arange(1, len(df) + 1)
    return(df)

crank(9)

,\lambda \ vdash 4,l(\lambda),\omega(\lambda),\mu(\lambda),c(\lambda)
1,[9],9,0,1,9
2,"[8, 1]",8,1,1,0
3,"[7, 2]",7,0,2,7
4,"[7, 1, 1]",7,2,1,-1
5,"[6, 3]",6,0,2,6
6,"[6, 2, 1]",6,1,2,1
7,"[6, 1, 1, 1]",6,3,1,-2
8,"[5, 4]",5,0,2,5
9,"[5, 3, 1]",5,1,2,1
10,"[5, 2, 2]",5,0,3,5
11,"[5, 2, 1, 1]",5,2,1,-1
12,"[5, 1, 1, 1, 1]",5,4,1,-3
13,"[4, 4, 1]",4,1,2,1
14,"[4, 3, 2]",4,0,3,4
15,"[4, 3, 1, 1]",4,2,2,0
16,"[4, 2, 2, 1]",4,1,3,2
17,"[4, 2, 1, 1, 1]",4,3,1,-2
18,"[4, 1, 1, 1, 1, 1]",4,5,0,-5
19,"[3, 3, 3]",3,0,3,3
20,"[3, 3, 2, 1]",3,1,3,2
21,"[3, 3, 1, 1, 1]",3,3,0,-3
22,"[3, 2, 2, 2]",3,0,4,3
23,"[3, 2, 2, 1, 1]",3,2,1,-1
24,"[3, 2, 1, 1, 1, 1]",3,4,0,-4
25,"[3, 1, 1, 1, 1, 1, 1]",3,6,0,-6
26,"[2, 2, 2, 2, 1]",2,1,4,3
27,"[2, 2, 2, 1, 1, 1]",2,3,0,-3
28,"[2, 2, 1, 1, 1, 1, 1]",2,5,0,-5
29,"[2, 1, 1, 1, 1, 1, 1, 1]",2,7,0,-7
30,"[1, 1, 1, 1, 1, 1, 1, 1, 1]",1,9,0,-9